.container {
	min-height: 100vh;
	padding: 0;
}

.landing {
	padding: 5rem 5%;
	/* background-color: #212121; */
	color: #f5f5f5;
}

.footer {
	width: 100%;
	padding: 1% 1%;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 2rem;
}

.sectionTitle {
	margin: 0;
	line-height: 1.15;
	font-size: 1rem;
}

.slogan {
	line-height: 1;
	font-size: 2.3rem;
	font-style: italic;
}

.grid {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem;
}

.card {
	margin: 5%;
	text-align: left;
	color: inherit;
	color: #303030;
	background-color: #f5f5f5;
	/* border: 1px solid #eaeaea; */
	text-decoration: none;
	border-radius: 5px;
	transition: color 0.15s ease, border-color 0.15s ease;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
	transition: 0.3s;
}

.card:hover,
.card:focus,
.card:active {
	box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.card h2 {
	margin: 0;
	padding: 2px 16px;
	font-size: 1.3rem;
	text-transform: uppercase;
}
.card p {
	margin: 0;
	padding: 2px 16px;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
