@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: KohSantepheap;
		font-weight: 700;
		src: url(/fonts/kohsantepheap/KohSantepheap-Bold.tff) format("tff");
	}
}
